numpy>=1.24
PyYAML>=6.0
faiss-gpu-cu12>=1.11.0; platform_system == "Linux"
faiss-cpu>=1.11.0; platform_system != "Linux"
spacy>=3.7
sentence-transformers>=2.7.0
transformers>=4.41.0,<6.0.0
torch>=2.2
datasets>=2.18.0
tqdm>=4.66
pytest>=8.0
huggingface_hub
ir_datasets
ir_measures
langchain-experimental>=0.4.1
langchain-huggingface>=1.2.1
scikit-learn>=1.5
bert-score>=0.3.13
